<?xml version="1.0" encoding="UTF-8"?>
<web-app>
 <display-name>Registration</display-name>
 <welcome-file-list>
 <welcome-file>register.jsp</welcome-file>
 </welcome-file-list>
 <servlet>
 <description></description>
 <display-name>registerservlet</display-name>
 <servlet-name>registerservlet</servlet-name>
 <servlet-class>controller.registerservlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>registerservlet</servlet-name>
 <url-pattern>/registerservlet</url-pattern>
 </servlet-mapping>
</web-app>
